#pattern  filter=crypt diff=crypt
secrets.yaml filter=crypt diff=crypt
known_devices.yaml filter=crypt diff=crypt
CFGS/appdaemon.cfg filter=crypt diff=crypt
#configs/apache2/sites-available/*.conf filter=crypt diff=crypt
CFGS/cloudfareconfig/cloudflare.config  filter=crypt diff=crypt
